<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Grid</title>
    <link rel="stylesheet" href="style/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://dwstroy.ru/lessons/les3649/demo/js/bootstrap.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet ">
</head>
<body>
<!--<div class="debug">-->
<!--<div>-->
<!--<div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<section class="head">
    <div class="header">
        <div class="spacer"></div>
        <div class="items">
            <div class="first">
                <div class="item black">
                    <h2>Строительная
                        компания</h2>
                    <h2 class="green">Сафинстрой</h2>
                    <h2>Строя с нами вы экономите деньги</h2>
                </div>
                <div class="item"></div>
                <div class="item opacity"></div>
                <div class="item"></div>
            </div>
            <div class="second">
                <div class="item"></div>
                <div class="item opacity"></div>
                <div class="item"></div>
                <div class="item black">
                    <h1 class="green">Контакты</h1>
                    <h4>Г. Казань Сафиуллина 5 Офис 39</h4>
                    <h4 class="green"><a href="mailto:safinstroy@mail.ru?subject=Письмо c Safininstroy.ru&Body=Это текст сообщения">safinstroy@mail.ru</a></h4>
                    <h4><a href="tel:+8(843)214-45-12">8(843) 214-45-12</a></h4>
                    <h4><a href="tel:+ 8-951-891-35-25"> 8-951-891-35-25</a></h4>
                    <h4><a href="tel:+8-937-28-44-860">8-937-28-44-860</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main">
    <div class="wrapper">
        <h1 class="about_company">
            О компании
            <span>«Сафинстрой»</span>
        </h1>
        <div class="items">
            <div class="images">
                <img src="img/people.png" alt="">
            </div>
            <div class="enclosed">
                <img src="img/workplace.png" alt="">
            </div>
            <h5 class="h5">
                С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет
                оценить значение форм развития. Не следует, однако забывать, что консультация с широким активом
                позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что
                рамки
                и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.
                Товарищи!
                сложившаяся структура организации позволяет оценить значение системы обучения кадров, соответствует
                насущным потребностям.
            </h5>
            <div class="infos"><div class="info"><span>3</span><h6>года на рынке</h6><span>347</span><h6>клиентов</h6></div>
                <div class="info"><span>18</span><h6>партнёров</h6><span>460</span><h6>объектов</h6></div></div>
        </div>
    </div>
</section>
<section class="services">
    <div class="wrapper">
        <h1 class="title">Наши услуги</h1>
        <div class="items">
            <div class="item">
                <div class="img">
                    <img src="img/foto2.jpg" alt="">
                </div>
                <div class="text"><h4 class="h4">Дачи и бани</h4><h6 class="h6">С другой стороны постоянное
                        информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение форм
                        развития. Не следует, однако забывать, что консультация с широким активом позволяет оценить значение
                        дальнейших направлений развития. Повседневная практика показывает, что рамки и место обучения кадров
                        способствует подготовки и реализации дальнейших направлений развития. Товарищи! </h6><a class="a"
                                                                                                                href="">Бесплатная
                        консультация</a></div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/foto1.jpg" alt="">
                </div>
                <div class="text"><h4 class="h4">Ремонт и отделка квартиры, дома</h4><h6 class="h6">С другой стороны
                        постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение
                        форм развития. Не следует, однако забывать, что консультация с широким активом позволяет оценить
                        значение дальнейших направлений развития. Повседневная практика показывает, что рамки и место
                        обучения кадров способствует подготовки и реализации дальнейших направлений развития.
                        Товарищи! </h6><a class="a" href="">Бесплатная консультация</a></div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/foto3.jpg" alt="">
                </div>
                <div class="text"><h4 class="h4">Дома под ключ</h4><h6 class="h6">С другой стороны постоянное
                        информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение форм
                        развития. Не следует, однако забывать, что консультация с широким активом позволяет оценить значение
                        дальнейших направлений развития. Повседневная практика показывает, что рамки и место обучения кадров
                        способствует подготовки и реализации дальнейших направлений развития. Товарищи! </h6><a class="a"
                                                                                                                href="">Бесплатная
                        консультация</a></div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/foto4.jpg" alt="">
                </div>
                <div class="text"><h4 class="h4">Обмен Квартиры на дом
                        с сопровождением, корпоративное жильё</h4><h6 class="h6">С другой стороны постоянное
                        информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение форм
                        развития. Не следует, однако забывать, что консультация с широким активом позволяет оценить значение
                        дальнейших направлений развития. Повседневная практика показывает, что рамки и место обучения кадров
                        способствует подготовки и реализации дальнейших направлений развития. Товарищи! </h6><a class="a"
                                                                                                                href="">Бесплатная
                        консультация</a></div>
            </div>
        </div>
    </div>
</section>
<section class="slider">
    <div class="wrapper">
        <h1 class="h1">Технологические проццесы работы</h1>
        <div id="dws-slider" class="carousel slide" data-ride="carousel">
            <!--Показатели-->
            <ol class="carousel-indicators">
                <li data-target="#dws-slider" data-slide-to="0" class="active"></li>
                <li data-target="#dws-slider" data-slide-to="1"></li>
                <li data-target="#dws-slider" data-slide-to="2"></li>
            </ol>

            <!--Обертка для слайдов-->
            <div class="carousel-inner" role="listbox">
                <div class="item active"><img src="https://dwstroy.ru/lessons/les3649/demo/img/slider-1.jpg"
                                              alt="Картинка 1">
                    <div class="carousel-caption">
                        <h3 class="text-uppercase">Ремонт и отделка</h3>
                        <p>С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности
                            позволяет оценить значение форм развития. Не следует, однако забывать, что консультация с
                            широким активом позвол. </p>
                    </div>
                </div>
                <div class="item"><img src="https://dwstroy.ru/lessons/les3649/demo/img/slider-2.jpg" alt="Картинка 2">
                    <div class="carousel-caption">
                        <h3 class="text-uppercase">Анимированная прокрутка</h3>
                        <p>Aenean cursus imperdiet erat sit amet facilisis. Phasellus congue, sem in consectetur
                            accumsan,tellus risus sollicitudin mauris, quis ornare libero magna eget ex.</p>
                    </div>
                </div>
                <div class="item"><img src="https://dwstroy.ru/lessons/les3649/demo/img/slider-3.jpg" alt="Картинка 3">
                    <div class="carousel-caption">
                        <h3 class="text-uppercase">Простая установка</h3>
                        <p>Praesent dictum, orci eget eleifend auctor, urna ex dapibus odio, vitae pretium neque
                            massa vel
                            neque. Donec et interdum diam. Morbi dignissim vestibulum mi ac viverra.</p>
                    </div>
                </div>
            </div>

            <!--Элементы управления-->
            <a class="left carousel-control" href="#dws-slider" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#dws-slider" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<section class="useful">
    <div class="wrapper">
        <h1 class="h1">Полезная статья</h1>
        <div class="content">
            <div class="text">
                <h5 class="h5">Частный дом или квартира – сравнение преимуществ</h5>
                <h5 class="h5"> Часто перед приобретением недвижимости встает вопрос о том, что лучше: квартира или
                    частный
                    дом? Чтобы не ошибиться в выборе и приобрести комфортное жилье, необходимо четко оценить все
                    преимущества обоих вариантов жилищной недвижимости. Для справедливости сравнения, стоит условиться,
                    что
                    сравниваемые квартира и дом будут иметь одинаковую площадь.
                    Преимущества частного дома.
                    Приобретение частного дома дает следующий ряд преимуществ:</h5>
                <h5 class="h5">–С приобретением частного дома во владение достается своя территория, на которой можно
                    возмести что угодно.</h5>
                <h5 class="h5">–Отсутствие посторонних шумов и неудобств от соседей.</h5>
                <h5 class="h5">–Возможность расширения площади дома путем дополнительных пристроек.</h5>
                <h5 class="h5">–Большие дизайнерские возможности при возведении дома.</h5>
                <h5 class="h5">–Если сравнивать квартиру и частный дом одинаковой площади, то становится явным, что
                    отопление и горячая вода в частном доме дешевле.</h5>
                <h5 class="h5"> –Современные технологии позволяют установить у себя на территории солнечные батареи,
                    накапливая энергию от которых, можно стать полностью независимым в энергопотреблении.</h5>
                <h5 class="h5">–Возможность получения чистой воды из скважины, за которую не придется платить.</h5>
                <h5 class="h5"> –Возможность регулярно проводить перепланировку в любых масштабах.</h5>
                <h5 class="h5">–Отсутствие проблем с парковкой, поскольку можно возвести гараж и постоянно хранить свой
                    автомобиль в надлежащих для него условиях.</h5>
                <h5 class="h5">–Современные технологии позволили возводить частные дома за ту же цену, что и
                    приобретение
                    квартиры.</h5>
            </div>

            <div class="img">
                <div><img src="img/111111111111111.png" alt=""></div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="wrapper">
        <h1 class="h1">Контакты</h1>
        <span class="span"><h1 class="h1 green">Сафинстрой,</h1><h1 class="h1">бесплатная консультация, выезд специалиста</h1></span>
        <div class="content ">
            <div class="address item">Г. Казань Сафиуллина 5
                Офис 39 <a class="a" href="mailto:safinstroy@mail.ru?subject=Письмо c Safininstroy.ru&Body=Это текст сообщения">safinstroy@mail.ru</a></div>
            <div class="number item">
                <a class="a" href="tel:+8(843)214-45-12">8(843) 214-45-12</a>
                <a class="a" href="tel:+ 8-951-891-35-25"> 8-951-891-35-25</a>
                <a class="a" href="tel:+8-937-28-44-860">8-937-28-44-860</a>
            </div>
            <div class="contacts item">
                <h4 class="h4">Поделитесь в соц.Сетях</h4>
                <a class="a" href="">
                    <img src="img/1111.png" alt="">
                </a>
                <a class="a" href="">
                    <img src="img/2222.png" alt="">
                </a>
                <a class="a" href="">
                    <img src="img/3333.png" alt="">
                </a>
                <a class="a" href="">
                    <img src="img/4444.png" alt="">
                </a>
            </div>
            <div class="mib item">
                <h4 class="h4">Сайт сделан:</h4>
                <h1 class="h1">mib</h1>
            </div>
        </div>
    </div>
</footer>

<script>

</script>
<div class="up">Наверх</div>
<script src="js/script.js"></script>
<script src="js/jquery-3.2.0.min.js"></script>
</body>
</html>