<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Строительная
        компания"Сафинстрой".Дома под ключ</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/styles.css">
    <meta name="keywords"
          content="Сафинстрой, cтроительная компания,Сафинстрой, строительство домов Казань, строительные услуги, строительство бань, строительство дачь, дача, баня, ремонт квартир, отделка квартир, ремонт и отделка квартир, дома под ключ, дом под ключ, строительство домов под ключ, обмен квартиры на дом, обмен недвижимости">
    <meta name="description" content="Сафинстрой. Cтроя с нами вы экономите деньги.Дачи и бани,Ремонт и отделка квартиры, дома,Дома под ключ,Обмен Квартиры на дом
с сопровождением, корпоративное жильё. ">
    <meta name="yandex-verification" content="1d790069f66e4df0" />
    <meta name="google-site-verification" content="av0m8AmvXSOL3e8dPyAA9CqkKrJrSDBlylpdiuEkDoA" />
</head>
<body>
<!--<div class="debug">-->
<!--<div>-->
<!--<div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--<div></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<section class="head">
    <div class="header">
        <div class="spacer"></div>
        <div class="items">
            <div class="first">
                <div class="item black">
                    <h2>Строительная
                        компания</h2>
                    <h1 class="green h2">Сафинстрой</h1>
                    <h2>Строя с нами вы экономите деньги</h2>
                </div>
                <div class="item"></div>
                <div class="item opacity"></div>
                <div class="item"></div>
            </div>
            <div class="second">
                <div class="item"></div>
                <div class="item opacity"></div>
                <div class="item"></div>
                <div class="item black">
                    <h2 class="green h1">Контакты</h2>
                    <h4>Г. Казань Сафиуллина 5 Офис 39</h4>
                    <h4 class="green"><a
                                href="mailto:safinstroy@mail.ru?subject=Письмо c Safininstroy.ru&Body=Это текст сообщения">safinstroy@mail.ru</a>
                    </h4>
                    <h4><a href="tel:8-843-214-45-12">8(843) 214-45-12</a></h4>
                    <h4><a href="tel:8-951-891-35-25"> 8-951-891-35-25</a></h4>
                    <h4><a href="tel:8-937-28-44-860">8-937-28-44-860</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main">
    <div class="wrapper">
        <h2 class="about_company ">
            О компании
            <span>«Сафинстрой»</span>
        </h2>
        <div class="items">
            <div class="images">
                <img src="img/people.png" alt="">
            </div>
            <div class="enclosed">
                <img src="img/workplace.png" alt="">
            </div>
            <h5 class="h5">
                Наша компания «Сафинстрой» заняла отличную позицию на строительном рынке. Этому способствуют, прежде
                всего, профессионализм сотрудников и постоянное улучшение их знаний. «Сафинстрой» всегда придерживается
                самых высоких стандартов в работе, а также используем новейшие инструменты и экологичные материалы в
                строительстве.
                За годы работы мы сумели развить сразу несколько направлений, и успешно выдерживаем конкуренцию на
                строительном рынке республики Татарстан
            </h5>
            <div class="infos">
                <div class="info"><span>5</span><h6>года на рынке</h6><span>347</span><h6>клиентов</h6></div>
                <div class="info"><span>18</span><h6>партнёров</h6><span>460</span><h6>объектов</h6></div>
            </div>
        </div>
    </div>
</section>
<section class="services">
    <div class="wrapper">
        <h2 class="title h1">Наши услуги</h2>
        <div class="items">
            <div class="item">
                <div class="img">
                    <img src="img/foto2.jpg" alt="">
                </div>
                <div class="text"><h4 class="h4">Дачи и бани</h4><h6 class="h6">Что такое дача с юридической точки
                        зрения? Дачей называют такой вид недвижимости, который как раз находится за чертой города и
                        предназначен для проживания в теплое время года. Зачастую дачный дом путают с загородным жилым
                        домом. Внешне эти постройки почти ничем не отличаются, если рассматривать строение независимо от
                        места расположения.
                        Частный дом, как правило, располагается в границах населенного пункта.</h6><a class="a"
                                                                                                      href="tel:8-843-214-45-12">Бесплатная
                        консультация</a></div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/foto1.jpg" alt="">
                </div>
                <div class="text"><h4 class="h4">Ремонт и отделка квартиры, дома</h4><h6 class="h6">Капитальный ремонт
                        квартиры или дома почти для каждого из нас ассоциируется с пылью, шумом, недоспанными ночами. Ведь
                        вызов специалистов, смена труб или электрической проводки – это то, чего не сделаешь за два дня.
                        Однако компания "Сафинстрой" за более чем 10-и летний опыт своей безукоризненной работы в Москве
                        смогла
                        доказать своим клиентам, что отделка и ремонт в квартире – это прежде всего приятные хлопоты,
                        которые несут обновление в Ваш дом, Вашу жизнь.</h6><a class="a" href="tel:8-843-214-45-12">Бесплатная
                        консультация</a>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/foto3.jpg" alt="">
                </div>
                <div class="text"><h4 class="h4">Дома под ключ</h4><h6 class="h6">Мы предлагаем услуги высококлассных
                        профессионалов на всех этапах: от проектирования, подбора материалов и составления сметы до введения
                        готового жилья в эксплуатацию.
                        При заключении договора клиент получает гарантии того, что в процессе возведения его дома будут
                        использованы только сертифицированные комплектующие, самые современные технологии. Клиент
                        автоматически получает доступ к любой документации, касающейся его дома, и сам может удостовериться
                        в прозрачности наших работ. </h6><a class="a"
                                                            href="tel:8-843-214-45-12">Бесплатная
                        консультация</a></div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/foto4.jpg" alt="">
                </div>
                <div class="text"><h4 class="h4">Обмен Квартиры на дом
                        с сопровождением, корпоративное жильё</h4><h6 class="h6">Компания «Сафинстрой» предлагает услуги
                        обмена квартир. В настоящее время обмен квартир является достаточно распространенным видом сделки.
                        Заявками, поступающие в компанию занимаются опытные специалист. Благодаря широкой рекламной
                        поддержке и грамотному юридическому сопровождению ваша сделка пройдет выгодно и быстро.Наше
                        агентство имеет достаточно большой опыт проведения операции по обмену городского жилья на загородный
                        дом. </h6><a class="a"
                                     href="tel:8-843-214-45-12">Бесплатная
                        консультация</a></div>
            </div>
        </div>
    </div>
</section>
<section class="slider">
    <div class="wrapper">
        <h2 class="h1">Технологические процесы работы</h2>
        <div id="dws-slider" class="carousel slide" data-ride="carousel">
            <!--Показатели-->
            <ol class="carousel-indicators">
                <li data-target="#dws-slider" data-slide-to="0" class="active"></li>
                <li data-target="#dws-slider" data-slide-to="1"></li>
                <li data-target="#dws-slider" data-slide-to="2"></li>
            </ol>

            <!--Обертка для слайдов-->
            <div class="carousel-inner" role="listbox">
                <div class="item active"><img src="img/sl1.png"
                                              alt="Картинка 1">
                    <div class="carousel-caption">
                        <h3 class="text-uppercase sliderh1">Ремонт и отделка</h3>
                        <p class="sliderh1">Для обеспечения уюта и комфортности проживания в частном доме, квартире
                            проводится утепление его пола, от теплоты которого зависит многое: температура в комнатах,
                            эффективность работы системы отопления, влажность в помещениях, наличие сквозняков. </p>
                    </div>
                </div>
                <div class="item"><img src="img/sl2.png" alt="Картинка 2">
                    <div class="carousel-caption">
                        <h3 class="text-uppercase sliderh2">Качество работ</h3>
                        <p class="sliderh2">Качество должно формироваться на всех стадиях строительства:
                            предпроизводственной (проектирование), производственной (строительно-монтажные процессы) и
                            после производственной (эксплуатация). Поэтому оно главное, это фундамент всего процеса
                            работы.</p>
                    </div>
                </div>
                <div class="item"><img src="img/sl3.png" alt="Картинка 3">
                    <div class="carousel-caption">
                        <h3 class="text-uppercase sliderh3">Используемые материалы</h3>
                        <p class="sliderh3">Контролем качества строительных материалов — считается проверка соответствия
                            показателей качества строительной продукции установленным требованиям, которые зафиксированы
                            в проекте, стандартах и технических условиях, договорах о поставке, паспортах на изделия и
                            других документах.
                            Задачи контроля качества строительной продукции состоят в предупреждении дефектов и брака в
                            работе и обеспечении требуемого качества продукции.</p>
                    </div>
                </div>
            </div>

            <!--Элементы управления-->
            <a class="left carousel-control" href="#dws-slider" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#dws-slider" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<section class="useful">
    <div class="wrapper">
        <h2 class="h1">Полезная статья</h2>
        <div class="content">
            <div class="text">
                <h5 class="h5">Частный дом или квартира – сравнение преимуществ</h5>
                <h5 class="h5"> Часто перед приобретением недвижимости встает вопрос о том, что лучше: квартира или
                    частный
                    дом? Чтобы не ошибиться в выборе и приобрести комфортное жилье, необходимо четко оценить все
                    преимущества обоих вариантов жилищной недвижимости. Для справедливости сравнения, стоит условиться,
                    что
                    сравниваемые квартира и дом будут иметь одинаковую площадь.
                    Преимущества частного дома.
                    Приобретение частного дома дает следующий ряд преимуществ:</h5>
                <h5 class="h5">–С приобретением частного дома во владение достается своя территория, на которой можно
                    возмести что угодно.</h5>
                <h5 class="h5">–Отсутствие посторонних шумов и неудобств от соседей.</h5>
                <h5 class="h5">–Возможность расширения площади дома путем дополнительных пристроек.</h5>
                <h5 class="h5">–Большие дизайнерские возможности при возведении дома.</h5>
                <h5 class="h5">–Если сравнивать квартиру и частный дом одинаковой площади, то становится явным, что
                    отопление и горячая вода в частном доме дешевле.</h5>
                <h5 class="h5"> –Современные технологии позволяют установить у себя на территории солнечные батареи,
                    накапливая энергию от которых, можно стать полностью независимым в энергопотреблении.</h5>
                <h5 class="h5">–Возможность получения чистой воды из скважины, за которую не придется платить.</h5>
                <h5 class="h5"> –Возможность регулярно проводить перепланировку в любых масштабах.</h5>
                <h5 class="h5">–Отсутствие проблем с парковкой, поскольку можно возвести гараж и постоянно хранить свой
                    автомобиль в надлежащих для него условиях.</h5>
                <h5 class="h5">–Современные технологии позволили возводить частные дома за ту же цену, что и
                    приобретение
                    квартиры.</h5>
            </div>

            <div class="img">
                <div><img src="img/111111111111111.png" alt=""></div>
            </div>
        </div>
    </div>
</section>
<section class="map">
    <div class="main">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.4445154376913!2d49.22388631593048!3d55.750779980552814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415eae0c31bbf19b%3A0x3365dcd7691eb85a!2z0YPQuy4g0KHQsNGE0LjRg9C70LvQuNC90LAsIDUsINCa0LDQt9Cw0L3RjCwg0KDQtdGB0L8uINCi0LDRgtCw0YDRgdGC0LDQvSwgNDIwMTM5!5e0!3m2!1sru!2sru!4v1523023827367"
                width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>
<footer class="footer">
    <div class="wrapper">
        <h2 class="h1">Контакты</h2>
        <h2 class="h1 name"><span class="green">Сафинстрой,</span>бесплатная консультация, выезд специалиста</h2>
        <div class="content ">
            <div class="address item add1 ">Г. Казань Сафиуллина 5 <h4 class="address">Офис 39</h4><a class="a" href="mailto:safinstroy@mail.ru?subject=Письмо c Safininstroy.ru&Body=Это текст сообщения">safinstroy@mail.ru</a>
            </div>
            <div class="number item">
                <a class="a" href="tel:8-843-214-45-12">8(843) 214-45-12</a>
                <a class="a" href="tel:8-951-891-35-25"> 8-951-891-35-25</a>
                <a class="a" href="tel:8-937-28-44-860">8-937-28-44-860</a>
            </div>
            <div class="contacts item">
                <div class="link">
                    Мы в<a class="a" href="https://vk.com/club164252652"><img src="img/1111.png" alt=""></a>
                </div>
            </div>
            <div class="mib item">
                <h4 class="h4">Сайт сделан:</h4>
                <h2 class="h1"><a href="http://mib.store/">mib</a></h2>
            </div>
        </div>
    </div>
</footer>


<div class="up">∧</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110387143-4"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-110387143-4');
</script>
<!-- Yandex.Metrika counter -->
<script async type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter48400043 = new Ya.Metrika({
                    id: 48400043,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/48400043" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
<script src="https://dwstroy.ru/lessons/les3649/demo/js/bootstrap.js" defer></script>
<script src="js/script.js" defer></script>
<!-- RedHelper -->
<script id="rhlpscrtg" type="text/javascript" charset="utf-8" async="async"
        src="https://web.redhelper.ru/service/main.js?c=safinstroy">
</script>
<!--/Redhelper -->
</body>
</html>